/Prueba github/nbproject/private/
/PROYECTO/INVENTARIO/INVENTARIO_KIBA_VERSION_1/nbproject/private/
/PROYECTO/PROTOTIPO_1_INVENTARIO/INVENTARIO_KIBA_VERSION_1/build/
/PROYECTO/PROTOTIPO_1_INVENTARIO/INVENTARIO_KIBA_VERSION_1/dist/